*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 1px solid red;
    width: 150px;
    height: 150px;
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}