*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    justify-content: center;
    background-color:whitesmoke;
}
#screen{
    width: 17em;
    height: 90px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: red;
    padding: 10px;
    box-shadow: 0 0 10px rgb(181, 181, 181);
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}
#screen p{
    color: rgb(206, 206, 206);
    font-size: 3em;
    font-weight: 600;
    margin-right: 3px;
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
    width: 17em;
    height: 250px;
    margin: 0 auto;
    place-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgb(181, 181, 181);
}
#buttons button {
    width: 55px;
    height: 55px;
    font-size: 18px;
    border-radius: 50px;
    background-color:rgb(232, 230, 230);
    border: 1px solid rgb(232, 230, 230);
    font-weight: 700;
    font-size: x-large;
    transition: 0.1s ease;
}
#buttons button:active {
    transform: scale(0.92);
    background-color: #d0d0d0;
}
#buttons #equal{
    background-color: red;
    color: white;
}